@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

@import '~@fortawesome/fontawesome-free/css/all.css';

.fontGamja{
  font-family: 'Gamja Flower', ;
  /* font-family: 'ADLaM Display'; */
}
.fontadlam{
  font-family: 'ADLaM Display', cursive;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
}
body{
  background-color:#09123D;
}
@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the bounce height as needed */
  }
}

.animate-custom-bounce {
  animation: custom-bounce 1s ease-in-out infinite;
}








